# Allowed line format:
# 0. Empty and commented lines
# 1. <path ending with />  @owner_1 @owner_2     @owner_N
#    Example: /scripts/ @roleg @hnatics
#    Ending a path in a `/` will specify the code owners for every file nested in that directory, on any level

# Default (project) owner
#----------------------------------------------------------------------------------
/                                        @roleg 


# System
#----------------------------------------------------------------------------------
/scripts/                                @hnatics 


# Build
#----------------------------------------------------------------------------------
/cmake/                                  @busa 


# Detectors
#----------------------------------------------------------------------------------
# TPC
/detectors/tpc/                          @hnatics
/detectors/tpc/alignment/muons/          @kuzmin
/detectors/tpc/clusterHitFinder/fast/    @kryman @akrylov 
/detectors/tpc/clusterHitFinder/mlem/    @zinchenk @abychkov
/detectors/tpc/digitizer/AZlt            @zinchenk @abychkov
/detectors/tpc/geometry/                 @zinchenk @abychkov @hnatics

# FFD
/detectors/ffd/                          @nlashmanov

# EMC
/detectors/emc/                          @boiana2012

# STS  (ITS)
/detectors/sts/                          @vkondrat

# TOF
/detectors/tof/                          @lobastov

# ZDC  (FHCAL)
/detectors/zdc/                          @marina 


# Reconstruction
#----------------------------------------------------------------------------------
/reconstruction/tracking/kalman/         @zinchenk

/core/mpdPid/                            @zinchenk @amudrokh


# Analysis
#----------------------------------------------------------------------------------
/core/mpdDst/MpdMiniEvent/               @gnigmat


# Database
#----------------------------------------------------------------------------------
/tools/database/                         @busa


# Documentation
#----------------------------------------------------------------------------------
/tools/documentation/                    @busa


# TDD toolkit
#----------------------------------------------------------------------------------
/tools/tdd/                              @hnatics

